version: "3.9"

volumes:
  static:
  media:
  postgres_data:

services:

  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  admin_panel:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: admin_panel
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./static:/opt/static
      - ./media:/opt/media
    command: /bin/sh -c "python manage.py collectstatic --no-input && python manage.py migrate --no-input && gunicorn --bind 0.0.0.0:8000 --workers 2 offersAdmin.wsgi:application"
    ports:
      - "8000:8000"
    restart: unless-stopped

  litestar_service:
    build:
      context: ./litestar_service
      dockerfile: Dockerfile
    container_name: litestar_service
    env_file: .env
    ports:
      - "5000:5000"
    restart: unless-stopped

  nginx:
    build:
      context: ./nginx/conf
      dockerfile: Dockerfile
    container_name: nginx
    volumes:
      - ./static:/opt/static
      - ./media:/opt/media
      - ./nginx/conf:/etc/nginx/conf.d
      - ./nginx/ssl/default:/etc/ssl/default
      - ./nginx/ssl/.well-known:/opt/offersAdmin/.well-known
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - admin_panel
      - litestar_service
    restart: unless-stopped
